<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>模仿8分音符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28F3743A1E6697E100E086AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F374531E6697E100E086AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F3745E1E6697E100E086AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
